body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 30px solid rgb(184, 202, 175);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.title{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 800;
}

.description{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 20px 20px;
}

.dices{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
  margin: 20px 40px;
}

.dice{
  padding: 10px 10px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: 900;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgb(199, 199, 199);
  cursor: pointer;
}

.dice.lock{
  background-color:  rgb(184, 202, 175);
}

.dice:hover{
  background-color: rgb(198, 198, 198);
}

.button{
  padding: 10px 20px;
  background-color:  rgb(54, 109, 26);
  border-radius: 5px;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 10px rgb(218, 218, 218);
  color: white;
  cursor: pointer;
  margin-top: auto;
}
